$url: "https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images";

body {
  height: 100vh; 
  background-image: url("#{$url}/bg.jpg");
  /* 더 넓은 넓이에 맞게 출력함 */
  background-size: cover;
  background-repeat: no-repeat;
  /* scroll 하여도 배경 이미지 고정 */
  background-attachment: fixed;
}

.container {
  padding: 50px 0;
  .heroes {
    display: flex;
    flex-wrap: wrap;  /* 줄바꿈 */
    justify-content: center;  /* 수평 정렬 */
    max-width: 700px;
  
    /* 가로 사이즈, block 요소 있으면 가운데 정렬*/
    margin: 0 auto; 
    padding: 40px 20px;

    .hero {
      width: 80px;
      height: 84px;
      margin: 4px;
      border: 3px solid #fff;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: #555;
      overflow: hidden;
      /* 각도 기울임 효과 */
      transform: skewX(-14deg);
      /* transform, 배경 색만 전환 효과 */
      transition: 
        transform .1s, 
        background-color 0.6s;

      &:hover {
        background-color: #ff9c00;
        /* 마우스 click 시 확대 */
        transform: scale(1.3) skewX(-14deg); 
        z-index: 1;  /* 해당 요소만 앞으로 보임 */
      }

      .image {
        width: 140%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px;
        /* 기울임 방지, 원상태로 복귀함.*/
        /* translate() : 지정 요소 x축 , y축만큼 이동 */
        transform: skewX(14deg) translate(-16px);
      }
      @for $i from 1 through 32 {
        &:nth-child(#{$i}) .image {
           background-image: url("#{$url}/hero#{$i}.png");
        }
      }
    }
  }
  .logo {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;

    img {
      width: 100%;
    }
  }
}

